<div class="container">
  <header class="container text-center p-3">
    <h1>Aconsegueix la millor qualitat</h1>
  </header>

  <div class="row align-items-center">
    <form [formGroup]="serveisForm" class="row">

      <div class="row shadow rounded">
        <div class="col-6">
          <h4>{{ serveis[0].id }}</h4>
          <p>{{ serveis[0].describe }}</p>
        </div>
        <div class="col-3">
          <p><span>{{ serveis[0].preu }}</span> €</p>
        </div>
        <div class="col-3 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="Seo" formControlName="Seo">
          <label for="Seo" class="form-check-label">
            Afegir
          </label>
        </div>
      </div>


      <div class="row shadow rounded">
        <div class="col-6">
          <h4>{{ serveis[1].id }}</h4>
          <p>{{ serveis[1].describe }}</p>
        </div>
        <div class="col-3">
          <p><span>{{ serveis[1].preu }}</span> €</p>
        </div>
        <div class="col-3 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="Ads" formControlName="Ads">
          <label for="Ads" class="form-check-label">
            Afegir
          </label>
        </div>
      </div>


      <div class="row shadow rounded">
        <div class="col-6">
          <h4>{{ serveis[2].id }}</h4>
          <p>{{ serveis[2].describe }}</p>
        </div>
        <div class="col-3">
          <p><span>{{ serveis[2].preu }}</span> €</p>
        </div>
        <div class="col-3 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="Web" formControlName="Web"
            (change)="mostrarPanel()">
          <label for="Web" class="form-check-label">
            Afegir
          </label>
        </div>

        <app-panel *ngIf="mostrarPanel()" class="align-self-end" (sendTotalWeb)="calcularTotalWeb($event)"></app-panel>
      </div>

    </form>

    <div class="d-flex justify-content-end col-12 m-3 align-items-center">
      <h4 class="m-2">Preu pressupostat:</h4>
      <p class="m-2"><span>{{total + totalWeb}}</span> €</p>
    </div>
  </div>
</div>
